List((
    texture_width: 128,
    texture_height: 128,
    sprites: [
        ( // 0. Vertical
            x: 0,
            y: 0,
            width: 9,
            height: 9,
        ),
        ( // 1. Vertical + Grab
            x: 0,
            y: 9,
            width: 9,
            height: 9,
        ),
        ( // 2. Horizontal
            x: 9,
            y: 0,
            width: 9,
            height: 9,
        ),
        ( // 3. Horizontal + Grab
            x: 9,
            y: 9,
            width: 9,
            height: 9,
        ),
        ( // 4. Grab
            x: 18,
            y: 0,
            width: 9,
            height: 9,
        ),
        ( // 5. Grab + Grab
            x: 18,
            y: 9,
            width: 9,
            height: 9,
        ),
        ( // 6. Crate
            x: 27,
            y: 0,
            width: 9,
            height: 9,
        ),
        ( // 7. Crate + Grab
            x: 27,
            y: 9,
            width: 9,
            height: 9,
        ),
        ( // 8. Exit
            x: 36,
            y: 0,
            width: 9,
            height: 9,
        ),
        ( // 9. Floor Stone
            x: 36,
            y: 9,
            width: 9,
            height: 9,
        ),
        ( // 10. Wall Stone
            x: 45,
            y: 0,
            width: 9,
            height: 9,
        ),
        ( // 11. Lock
            x: 45,
            y: 9,
            width: 9,
            height: 9,
        ),
        ( // 12. Key
            x: 54,
            y: 0,
            width: 9,
            height: 9,
        ),
        ( // 13. Key Holding
            x: 54,
            y: 9,
            width: 9,
            height: 9,
        ),
        ( // 14. Switch
            x: 63,
            y: 0,
            width: 9,
            height: 9,
        ),
        ( // 15. Switch Pressed
            x: 63,
            y: 9,
            width: 9,
            height: 9,
        ),
        ( // 16. Door
            x: 72,
            y: 0,
            width: 9,
            height: 9,
        ),
    ],
))
