#![enable(implicit_some)]
// Detailed field information can be found at https://docs.amethyst.rs/master/amethyst_ui/enum.UiWidget.html and related pages
Container(
    transform: (
        id: "background",
        anchor: Middle,
        stretch: XY( x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
        width: 20.,
        height: 20.,
    ),
    background: SolidColor(1.0, 0.0, 0.0, 1.0),
    children: [
        Container(
            transform: (
                id: "container_start_button",
                width: 200.,
                height: 100.,
                anchor: Middle,
            ),
            background: SolidColor(0.0, 0.0, 0.0, 0.0),
            children: [
                Button(
                    transform: (
                        id: "start_button",
                        width: 2500.,
                        height: 225.,
                        anchor: Middle,
                        mouse_reactive: true,
                    ),
                    button: (
                        text: "BEGIN",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 150.,
                        normal_text_color: (0.0, 1.0, 1.0, 1.0),
                        normal_image: SolidColor(0.0, 0.0, 0.0, 0.0),
                        hover_image: SolidColor(1.0, 1.0, 1.0, 1.0),
                        press_image: SolidColor(0.0, 0.0, 0.0, 1.0),
                    )
                ),
                Label(
                    transform: (
                        id: "title",
                        width: 1250.,
                        height: 250.,
                        y: 100,
                        anchor: TopMiddle,
                        mouse_reactive: false,
                    ),
                    text: (
                        text: "one-action-heroes-rs",
                        line_mode: Wrap,
                        font_size: 100.,
                        font: File("font/square.ttf", ("TTF", ())),
                        color: (1.0, 1.0, 1.0, 1.0),
                    ),
                ),
                Label(
                    transform: (
                        id: "info_left",
                        width: 700.,
                        height: 250.,
                        y: -200,
                        x: -200,
                        anchor: TopMiddle,
                        mouse_reactive: false,
                    ),
                    text: (
                        text: "\n Arrow Keys Move \n Space Grabs",
                        line_mode: Wrap,
                        font_size: 50.,
                        font: File("font/square.ttf", ("TTF", ())),
                        color: (1.0, 1.0, 1.0, 1.0),
                    ),
                ),
                Label(
                    transform: (
                        id: "info_right",
                        width: 700.,
                        height: 250.,
                        y: -200,
                        x: 200,
                        anchor: TopMiddle,
                        mouse_reactive: false,
                    ),
                    text: (
                        text: "\n Escape Exits \n R Reloads",
                        line_mode: Wrap,
                        font_size: 50.,
                        font: File("font/square.ttf", ("TTF", ())),
                        color: (1.0, 1.0, 1.0, 1.0),
                    ),
                ),
            ]
        ),
    ],
)

