GameLevel(
    dimensions: (10, 10),
    characters: CharacterPlacement(horizontal: Some((2,2)), vertical: Some((3,3)), interact: Some((5,5))),
    exit: (4,4),
    obstacles: [(2,3), (2,4), (2,5)]
)
