#![enable(implicit_some)]
GameLevel(
    // DIMENSIONS ARE NOT SQARE FOR THIS LEVEL
    dimensions: (7, 7),
    characters: (horizontal: (2, 4), vertical: (4, 2)),
    exit: (4, 4),
    obstacles: [],
)
